    th  {
        padding: 8px ; 
        border : 1px solid green ; 
    }

    td  {
        padding: 8px ; 
        border : 1px solid red ; 
    }
    .action {
        display: inline-block ;
        padding: 8px 16px ;
    }
    .action.action-borrar {

        background-color: red ;
        color: white ;

    }


    p {
        padding: 8px;
        border : 1px saddlebrown; 
    }


    .login-container_wrapper {
        display: block;
        width: 840px;
        margin: 200px auto 0;
    }
    .login-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding:20px;
        border:1px solid #ccc;
    }
    .login-container .login-image {
        width: 400px;
        height: auto;
        color : #4e73df;
        background-color : #fff;
    }    
    .login-container .login-fieldset {
        width: 400px;
        height: auto;
    }  
    

.theme-Dune    #wrapper #content-wrapper {
    background-color:sandybrown ;
}

.theme-TMMT    #wrapper #content-wrapper {
    background-color: green ;
}

.theme-startrek    #wrapper #content-wrapper {
    background-color:darkblue ;
}

.theme-starwars    #wrapper #content-wrapper {
    background-color:black ;
}